@import "tailwindcss";

@theme {
  --color-brand-primary: var(--theme-primary);
  --color-brand-bg: var(--theme-bg);
  --font-mono: var(--font-jetbrains-mono);
}

:root {
  /* Default LotEngine Brand Colors */
  --theme-primary: #0047AB;
  --theme-bg: #FFFFFF;
  
  /* System Defaults */
  --background: var(--theme-bg);
  --foreground: #111827;
}

body {
  background-color: var(--theme-bg);
  color: var(--foreground);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
}
